{#
/**
 * @file
 * Default theme implementation for field_table_of_contents_field.
 *
 * This template is used to render the table of contents field value.
 *
 * Variables:
 *  - attributes: HTML attributes for the containing element
 *  - countdown_date: Representation of the countdown date to pass to the frontend
 *  - countdown_settings: Additional parameters for configuring the countdown widget
 */
#}
<div {{ attributes }} data-countdown-date="{{ countdown_date }}" data-countdown-settings="{{ countdown_settings|json_encode() }}"></div>
